<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div *ngIf="!isEditingTitle" (dblclick)="enableEditTitle()">{{ title }}</div>
      <ion-input *ngIf="isEditingTitle" [(ngModel)]="title" (blur)="saveTitle()" (keyup.enter)="saveTitle()" autofocus></ion-input>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title>
        <div *ngIf="!isEditingTitle" (dblclick)="enableEditTitle()">{{ title }}</div>
        <ion-input *ngIf="isEditingTitle" [(ngModel)]="title" (blur)="saveTitle()" autofocus></ion-input>
      </ion-card-title>
    </ion-card-header> -->
    <ion-card-content>
      <div *ngIf="!isEditingDescription" (dblclick)="enableEditDescription()">{{ description }}</div>
      <ion-textarea *ngIf="isEditingDescription" [(ngModel)]="description" (blur)="saveDescription()" (keyup.enter)="saveDescription()" autofocus></ion-textarea>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let photo of photos; let i = index">
        <ion-card>
          <div class="photo-container" (click)="presentPhotoOptions(photo, i)">
            <ion-img [src]="photo.webviewPath" class="photo-img"></ion-img>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<style>
.photo-container {
  width: 100%;
  padding-top: 100%; /* Mantener la proporción cuadrada */
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.photo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para las fotos */
}
</style>